
  body{
    background-color: powderblue;
  }

  h1
  {
    color: #0a81ab;

  }

  h3
  {
    color: #0a81ab;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }

  img{
    height: 150px;
  }
